body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}


input {
    padding: 0px;
    text-align: right;
    width: 100%;
    border: none;
    font-size: xx-large;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.text-field {
    width: 430px;
    display: flex;
    flex-direction: column;
    text-align: right;
    border-bottom: 1px solid white;
    margin: 25px;
    margin-bottom: 0px;
}

#display {
    height: 100px;
    font-size: 40px;
    background-color: black;
    color: white;
}

#operator {
    height: 100px;
    background-color: black;
    color: white;
    font-size: 50px;
}


table {
    height: 400px;
    width: 400px;
    padding: 20px;
    padding-top: 0px;
    
}

 td {
    margin: 0px;
    padding: 0px;
    height: 70px;
    
    /* border: 1px solid black; */
}

.all-buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 90px;
    height: 80px;
    font-size: x-large;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    border-radius: 25%;
    border: none;
    color: white;
    font-size: xx-large;
}


button.equal{
    background-color: orange;
    color: white;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin-left: 22px;

}


#clear,#delete {
    width: 200px;
    height: 60px;
    font-weight: 800;
    font-size: xx-large;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: black;
    border: none;
    color: orange;
}

button.op{
    color: orange;
}

button:active,
#clear:active,
#delete:active{
    background-color: rgb(40, 38, 38);
}

.calc {
    border: 1px solid white;
    background-color:black;
    border-radius: 12px;
}
